/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 59, ../scss/screen.scss */
ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    margin-left: 0;
    padding-left: 0;
}

/* line 64, ../scss/screen.scss */
ul.posts li {
    line-height: 1.75em;
}

/* line 66, ../scss/screen.scss */
ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

@media screen and (max-width: 768px) {
    /* line 71, ../scss/screen.scss */
    ul.posts a {
        display: block;
        margin-left: 20px;
    }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* line 120, ../scss/screen.scss */
.date {
    color: #aaa;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* line 179, ../scss/screen.scss */
#post {
    margin-bottom: 30px;
}

/* standard */
/* line 185, ../scss/screen.scss */
#post img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

/* line 191, ../scss/screen.scss */
#post img.left {
    float: left;
    margin-right: 20px;
    max-width: 500px;
}

/* line 197, ../scss/screen.scss */
#post img.right {
    float: right;
    margin-left: 20px;
    max-width: 500px;
}

#post .credit {
    display: block;
    margin: -21px auto 20px auto;
    max-width: 100%;
    text-align: center;
    font-size: 12px;
}

/* line 203, ../scss/screen.scss */
#post pre {
    padding: .4em .6em;
    border: 1px solid black;
    background-color: #333;
    color: white;
    overflow: auto;
}

/* line 210, ../scss/screen.scss */
#post ul, #post ol {
    margin-left: 0.35em;
}

/* line 214, ../scss/screen.scss */
#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
}

/* line 221, ../scss/screen.scss */
#post pre code {
    border: none;
    background-color: #333;
}

/* line 237, ../scss/screen.scss */
#related {
    margin-top: 2em;
}

/* line 241, ../scss/screen.scss */
#related h2 {
    margin-bottom: 1em;
}
