//@import "bootstrap";
//@import "bootstrap-responsive";

/*** icon font **/
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-github, .icon-feed, .icon-twitter, .icon-facebook, .icon-google-plus, .icon-linkedin, .icon-feed-2 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-github:before {
  content: "\67";
}
.icon-feed:before {
  content: "\72";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-google-plus:before {
  content: "\2b";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-feed-2:before {
  content: "\73";
}

body{
	font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-left: 0;
  padding-left: 0;
  li {
    line-height: 1.75em;}
  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%; }
  @media screen and (max-width: 768px){
    a{
      display: block;
      margin-left: 20px; } } }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.navbar{
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.125);
  box-shadow: 0 2px 5px rgba(0,0,0,0.125);
}
.navbar .navbar-brand {
  font-weight: bold;
  color: #003d5f;
  position: relative;
  display: inline-block;
  width: 160px;

}
.navbar .navbar-brand .navbar-logo {
  top: 10px;
  left: 30px;
  height: 30px;
  position: absolute;
}
/*header{
  background: #e6e6e6;
  .content{
    margin-top: 0;
    margin-bottom: 0;}
  img{
    height: 50px; }
  .title{
    font-size: 25px;
  }
  nav{
    
    .nav-icon a{
      font-size: 20px;
      margin-top:-3px; } } }*/

.main {
  font-size: 110%;
  text-align: left;
  padding: 0 15px;
  line-height: 1.5em;}

.date {
  color: #aaa;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

.content{
  width: 100%;
  max-width: 900px;
  margin: 60px auto 30px auto;}

footer {
  background: black;
  color: #ffffff;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  .content{
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;}
  .copyright{
    position: absolute;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    left: 120px;
    bottom: 47px;}
  .info{
    position: absolute;
    padding-right: 25px;
    bottom: 42px;
    right: 0;}
  @media screen and (max-width: 580px){
    .copyright{
      bottom: 20px;
      right: 0; }
    .info{
      top: 20px;
      right: 0; } }
  .enketo-icon{
    margin: -8px 0 -16px -22px;
  	float: left; }
  a{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 30px;
    &:hover{
      opacity: 0.7; } } } 

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-bottom: 30px;
}

  /* standard */

  #post img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }

  #post img.left{
    float: left;
    margin-right: 20px;
    max-width: 500px;
  }

  #post img.right{
    float: right;
    margin-left: 20px;
    max-width: 500px;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }